<h1>To Do List</h1>

<p>Here are your lists:</p>

<ul>
  <% @returned_lists.each() do |list| %>
    <li><a href="/list/<%= list.id() %>"><%= list.name() %></a></li>
  <% end %>
</ul>

<form action="/new_list" method="post">
  <label for='name' type='text'>Create a new list</label>
  <input id="name" name="name" type="text">

  <button type='submit'>Make list!</button>
</form>
