
<h3>Here is a list of your tasks ordered by their due date (ascending):</h3>

<ul>
  <% @sorted_tasks_array.each() do |task| %>
    <li><%= task.fetch('description') %>, Due: <%= task.fetch('due_date') %></li>
  <% end %>
</ul>

<p><a href="/">Home</a></p>
